{% extends 'attendance/layout.html' %}

{% block navbar %}{% endblock navbar %}

{% block navbarcourse %}
{% include 'attendance/navbarcourse.html' %}
{% endblock navbarcourse %}

{% block body %}
<h3>Classes Taken</h3>

{% if classes %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Topic Taken</th>
        <th>Attendance Percent</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for class in classes %}
      <tr>
        <td>{{ class.date }}</td>
        <td>{{ class.time }}</td>
        <td>{{ class.topic }}</td>
        <td>{{ class.attendancepercentage }}%</td>
        <td><a href="{% url 'export_excel' class.id %}">Export Attendance as Excel</a></td>
      </tr>
      {% endfor %}
    </tbody>
    {% else %}
        No classes taken
    {% endif %}
  </table>
    
{% endblock body %}